.first_section_jumbotron{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 200px 0 160px 0;
    background: transparent;
    color: #fff
}

.first_section_jumbotron>p{
    font-family: 'Raleway', sans-serif;
}
p.navbar-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    color: #fff;
    margin: 20px 30px 20px 30px;
    border-bottom: 3px solid transparent;
    transition: all .2s ease
}

p.navbar-text:hover{
    border-bottom: 3px solid #fff;
    background: transparent;
    cursor: pointer;
}
p.navbar-text.active{
    border-bottom: 3px solid #fff;
}

.third_section{
    background: #f8f8f8;
    border-bottom: 2px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
}

/*.second_section{*/
    /*-webkit-box-shadow: inset 0px 0px 24px -9px rgba(0,0,0,1);*/
/*-moz-box-shadow: inset 0px 0px 24px -9px rgba(0,0,0,1);*/
/*box-shadow: inset 0px 0px 24px -9px rgba(0,0,0,1);*/
/*}*/

.second_section, .third_section{

    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #333;
    padding: 90px 0 90px;
}
.second_section p, .third_section p{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}

.mouse-wheel{
    width: 40px;
    height: 40px;
    margin: 0 auto 30px;
    display: block;
}

.mouse-wheel:hover{
    cursor: pointer;
}

.fourth_section{
    padding: 0 0 50px;
}
.fourth_section img{
    width: 300px;
    height: 300px;
}

.fourth_section .row{
    margin: 20px 0 20px;
}

.fourth_section img{
    width: 100%;
    height: auto;
}
.fourth_section .btn, .fifth_section .btn-inverse{
    font-size: 1.4em;
}
.btn{
    margin: 20px auto 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 0;
    background: transparent;
    color: #000;
    border: 1px solid #000;
    transition: all .2s ease;
}
.btn a{
    color: #000;
    text-shadow: none;
}
.btn:hover a{
    color: #fff;
    text-shadow: none;
}
.btn:hover{
    color: #fff;
    background: #000;
}
.btn:active{
    background: #000;
}


.btn-inverse{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 0;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: all .2s ease;
}
.btn-inverse a{
    color: #fff;
    text-shadow: none;
}
.btn-inverse:hover a{
    color: #000;
    text-shadow: none;
}
.btn-inverse:hover{
    color: #000;
    background: #fff;
}
.btn-inverse:active{
    background: #fff;
}

.fifth_section{
    padding: 130px 0 130px;
}
.fifth_section h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
}

.footer{
    padding: 30px 0 30px;
}