{% extends 'base.html' %}
{% load staticfiles %}

{% block head_title %}
    {{ contact_title.content }}
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'contact.css' %}">
{% endblock %}

{% block content %}
    <div class="container main_thumbnail">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h1>{{ first_textblock.content }}</h1>
                <hr>
                <h4>{{ second_textblock.content }}</h4>
                <br>
                <h4>{{ third_textblock.content }}</h4>
                <br>
                <h4>{{ fourth_textblock.content }}</h4>
                <hr>
                <div class="socials_block">
                    {% for item in socials %}
                        <div class="btn social">
                            <a href="{% if item.url %}{{ item.url }}{% endif %}">
                                {{ item.title }}
                            </a>
                        </div>
                {% endfor %}
                </div>
                <hr>
            </div>
        <div class="col-sm-6 col-sm-offset-3">
            <h5 class="text-center">If you have offers or suggestions, don't be afraid to drop me a message</h5>
{#            <form action="">#}
{#                <input type="text" placeholder="{{ form_name_palceholder.content }}" class="col-sm-5">#}
{#                <input type="email" placeholder="{{ form_email_palceholder.content }}" class="col-sm-6 col-sm-offset-1">#}
{#                <textarea placeholder="{{ form_message_palceholder.content }}" class="col-sm-12 message_field"></textarea>#}
{#                <input type="submit" class="btn" value="{{ form_button_palceholder.content }}">#}
{#            </form>#}

            <form action="" method="post">{% csrf_token %}
            {{ form.non_field_errors }}
                {{ form.name.errors }}
                {{ form.name }}
                {{ form.email.errors }}
                {{ form.email }}
                {{ form.message.errors }}
                {{ form.message }}
                <input type="submit" class="btn" value="{{ form_button_palceholder.content }}">
            </form>
            {% if messages %}
                    {% for message in messages %}
                        <h4{% if message.tags %} class="{{ message.tags }} text-center message"{% endif %}><span>{{ message }}</span></h4>
                    {% endfor %}
            {% endif %}

        </div>
        </div>
    </div>
{% endblock %}

{% block script_base %}
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}

{% block footer_copyright %}
    {{ footer_copyright.content }}
{% endblock %}