{% extends "base.html" %}
{% load staticfiles %}


{% block head_title %}
    {{ home_title.content }}
{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
    <div class="first_section" style="background: url({{ first_section_bg.img.url }}); background-size: cover;background-position: center top;">
        <div class="container">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="jumbotron first_section_jumbotron">
                    <h1>{{ first_section_h1.content }}</h1>
                    <p class="lead">{{ first_section_p.content }}</p>
                </div>
                <div class="row"><img src="{% static 'img/mouse-with-wheel.gif' %}" alt="" class="mouse-wheel"></div>
            </div>
        </div>
    </div>

    <div class="second_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>{{ second_section_h2.content }}</h2>
                    <hr>
                    <p>{{ second_section_p.content }}</p>
                </div>
                <div class="col-sm-6 second_section_img">
                    <img src="{{ second_section_image.img.url }}" alt="" class="img-responsive img-thumbnail">
                </div>
            </div>
        </div>
    </div>

    <div class="third_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 second_section_img">
                    <img src="{{ third_section_image.img.url }}" alt="" class="img-responsive img-thumbnail">
                </div>
                <div class="col-sm-6">
                    <h2>{{ third_section_h2.content }}</h2>
                    <hr>
                    <p>{{ third_section_p.content }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fourth_section">
        <div class="container text-center">
            <h1 class="text-center">Gallery</h1>
            <hr>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="row">

                    {% for item in mini_gallery %}
                        <div class="col-sm-4">
                            <a class="popup_image" href="{% url 'portfolio:gallery' %}">
                               <img src="{% if item.image %}{{ item.image.url }}{% endif %}" alt="" class="img-responsive img-thumbnail">
                            </a>
                        </div>
                        {% cycle '' '' '</div><div class="row">' %}
                    {% endfor %}

                </div>
                <div class="btn"><a href="{% url 'portfolio:gallery' %}">View gallery</a></div>
            </div>
        </div>
    </div>

    <div class="fifth_section" style="background: url({% static 'img/fifth_section.gif' %});background-size: cover;background-position: center;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Contact me:</h1>
                </div>
                <div class="col-sm-4">
                    {% for item in socials %}
                        <div class="btn btn-inverse">
                            <a href="{% if item.url %}{{ item.url }}{% endif %}">
                                {{ item.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block page_css %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block footer_copyright %}
{{ footer_copy.content }}
{% endblock %}
